@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
    background-color: black;
    font-family: 'Lilita One', cursive;
    font-size: 18px;
    color: white;
}

h1, h2 {
    text-align: center;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
    padding: 40px;
}

img {
    max-height: 240px;
    max-width: 160px;
    padding-top: 40px;
}
.card {
    border-radius: 8px;
    background-color: white;
    margin: 30px;
    height: 200px;
    width: 160px;
}

button {
    background-color: white;
    border: 1px solid black;
    padding: 6px 12px;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lilita One';
    align-items: center;
}

button:hover {
    color: white;
    background-color: #09c;
    transform: scale(1.1);
}

.btn {
    display: flex;
    gap: 5px;
    margin: 4px;
}

.player-score, .computer-score {
    margin-top: 30px;
    font-size: 60px;
}

.reset-btn {
    display: flex;
    justify-content: center;
}

.reset {
    padding: 12px 24px;
}